.form-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    form{
        display: flex;
        align-items: center;
        .input-group{
            max-width: 20%;
            width: 100%;
            padding: 0 12px;
            display: flex;
            justify-content: center;
            input{
                border: 1px solid red;
                padding: 12px 15px;
                border-radius: 10px;
                width: 100%;
                transition: all ease-in-out 0.3s;
                &:active,&:focus,&:focus-visible{
                    outline: none;
                    border-color: cadetblue;
                }
            }
        }
        button{
            background-color: red;
            padding: 12px 30px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            &:hover{
                transform: translateY(-5px);
                opacity: .7;
            }
        }
    }
}