.Zad{
    font-family: Verdana;
    font-size: 16px;
    color: rgb(45, 0, 112);
    background-color: aliceblue;
    padding: 20px;
}
.Par{
    font-family: Verdana;
    font-size: 25px;
    color: rgb(45, 0, 112);
    background-color: aliceblue;
    padding: 20px;
    
}
.Button{
    background-color: aliceblue;
    color: rgb(25, 0, 78);
    padding:30px 20px;
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border: none;
}
.Button:hover{
    background-color: rgb(174, 212, 246);
    transition: 0.3s ease-in-out;
}
ul {
    list-style: none;
}
li {
    text-decoration: none;
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(25, 0, 78);
    padding:30px 20px;
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border: none;
}

