.product-item-span{
    display: block;
    }

    .product-item-label{
        font-size: x-large;
        font-weight: bold;
        font-style: italic;
        color: blue;

    }
    .product-item-element{
    display: block;
    margin-bottom: 20px;
    }