*{
    box-sizing: border-box;
}
.product-wrapper{
    max-width: 33.3333%;
    width: 100%;
    padding: 0 12px;
    .general-wrapper{
        border: 1px solid #c72323;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 15px;
    }
    .product{
        .label{
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 700;
        }
        &:first-child{
            .label{
                margin-top: 0;
            }
        }
        .value{
            font-size: 20px;
            margin: 0;
        }
    }
}