.gallery-miniature {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
  }
  

  .gallery-miniature:hover {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(190, 4, 4);
  }