.container {
  align-items: center;
  display: flex;
  justify-content: column;
}

.gallery {
  width: 200px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.--selected {
  display: flex;
  justify-content: center;

}

.--thumbnails {
  display: flex;
  flex-direction: column;
}

.gallery-photo {
  width: 500px;
  height: 500px;
}

.selected {
  background-color: rgb(18, 67, 214);
}