.product-list-name-change-container label {
    display: block;
}

.product-list-name-change-container {
    margin-bottom: 1rem;
}

.product-list-name-container {
    font-weight: bold;
    margin: 1rem 0;
}

.list-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
