.main-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.child-container {
  border: 2px solid black;
  min-height: 300px;
  border-radius: 0 8px 8px 8px;
  padding: 24px;
}

.tabs-container {
  display: flex;
  gap: 4px;
}

.tab-item {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  padding: 6px 36px;
  cursor: pointer;
}

.tab-item-active {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  padding: 6px 36px;
  cursor: pointer;
  background: lightblue;
}
